@charset "UTF-8";
/*COMUNES EN TODO EL DOC*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/images/bg-imh/mesh-gradient.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: #fdd4c5;
  width: 80%;
  margin: auto;
  font-family: "Fira Code", monospace;
}
body span {
  color: rgb(224, 133, 115);
}
body a {
  text-decoration: none;
  color: #fdd4c5;
  font-family: "Fira Code", monospace;
}
body ul li {
  list-style: none;
}

a:hover {
  font-weight: bolder;
  color: rgb(224, 133, 115);
}

h1,
h2,
h3 {
  font-weight: bolder;
}

.subtitle {
  font-size: 2.188rem;
  font-weight: bolder;
  margin-top: 10rem;
}

.description {
  font-size: 1.25rem;
  margin-bottom: 0.681rem;
}

button {
  font-size: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 70px;
  padding: 10px;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid rgb(224, 133, 115);
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
  color: rgb(224, 133, 115);
}
button .home__about--btn {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}
button .btn_contact_me, button .btn_resume {
  width: 15rem;
  height: 5rem;
  margin-right: 1.5rem;
}
button:hover {
  box-shadow: 0 0 0.625rem 0 rgb(224, 133, 115) inset, 0 0 1.25rem 0.125rem rgb(224, 133, 115);
  border: 0.188rem solid rgb(224, 133, 115);
}

.about__container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "aboutTitle ." "aboutSubtitle ." "aboutDescrip ." "aboutSkills aboutSkills";
  gap: auto;
}
.about__container .about__skills--container {
  grid-area: aboutSkills;
  display: grid;
  grid-template-columns: 70%;
  grid-template-rows: auto;
  grid-template-areas: "skillsTitle" "skillsDescrip" "skillsTech" "skillsPersonal";
  gap: auto;
}
.about__container .about__skills--container .skills__technical--container {
  grid-area: skillsTech;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "techTitle" "techDescrip" "techLang" "techFrameworks" "techTools" "techOthers";
  gap: 1rem;
}
.about__container .about__skills--container .skills__interpersonal--container {
  grid-area: skillsPersonal;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "personalTitle" "personalDescrip";
  gap: auto;
}

.exp__container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "expTitle ." "expSubtitle expImg" "expDescrip expImg" "experiences experiences";
  gap: 2rem;
}
.exp__container .exp__box {
  grid-area: experiences;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "junior" "hiddenS" "redlab";
  gap: 4rem;
}

.contact__container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "contactTitle contactImg" "contactDescrip contactImg" "contactSubtitle contactImg" "contactBox contactImg" "contactSubtitle2 contactImg" "contactDescrip2 contactImg" "form contactImg";
  gap: 2rem;
}

.comingsoon__container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "comingTitle" "comingDescrip" "comingBtn" "comingImg";
  gap: 2rem;
}

.card-img-top {
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid rgb(224, 133, 115);
  box-shadow: 0 0 0.625rem 0 rgb(224, 133, 115) inset, 0 0 1.25rem 0.125rem rgb(224, 133, 115);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-body, .btn-primary:hover, .btn:hover, .btn,
.btn-primary {
  background-color: #0f1014;
}

.btn,
.btn-primary {
  border: 1px solid rgb(224, 133, 115);
  justify-content: center;
}

.btn:hover {
  box-shadow: 0 0 0.625rem 0 rgb(224, 133, 115) inset, 0 0 1.25rem 0.125rem rgb(224, 133, 115);
  border: 0.188rem solid rgb(224, 133, 115);
}

.btn-primary:hover {
  box-shadow: 0 0 0.625rem 0 rgb(224, 133, 115) inset, 0 0 1.25rem 0.125rem rgb(224, 133, 115);
  border: 0.188rem solid rgb(224, 133, 115);
}

.home__image {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 0 0 0.625rem 0 rgb(224, 133, 115) inset, 0 0 1.25rem 0.125rem rgb(224, 133, 115);
  border: solid 0.188rem rgb(224, 133, 115);
  margin-left: 2rem;
  translate: 100px 0;
}

.exp__img {
  grid-area: expImg;
  width: 30vw;
  height: auto;
}

.contact__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  translate: 5px -5px;
}
.contact__img {
  width: 30vw;
  height: auto;
  grid-area: contactImg;
}

.comingsoon__img {
  grid-area: comingImg;
  width: 30vw;
  height: auto;
  margin: auto;
}

/*NAV & HEADER*/
header {
  border-bottom: 1px solid rgb(224, 133, 115);
  margin-bottom: 5rem;
}
header .navbar-nav li a {
  color: #fdd4c5;
}
header .navbar-nav li a:hover {
  color: rgb(224, 133, 115);
  font-weight: bold;
}
header .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: rgb(224, 133, 115);
}
header .logo {
  height: 2rem;
  width: 2rem;
}

.footer-distributed {
  background-color: transparent;
  width: 100%;
  text-align: left;
  padding: 2.813rem 3.125rem;
  border-top: 1px solid #fdd4c5;
}
.footer-distributed .footer-left ul {
  color: #fdd4c5;
  font-size: 0.875rem;
  margin: 0;
}
.footer-distributed .footer-left ul .footer-links {
  font-size: 1.125rem;
  font-weight: bold;
  color: #fdd4c5;
  margin: 0 0 10px;
  padding: 0;
}
.footer-distributed .footer-left ul .footer-links li {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}
.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distributed .footer-right li {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-links li:before {
  content: "·";
  font-size: 1.25rem;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right li:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed ul.footer-links li:hover {
  text-decoration: underline;
}

.form__container {
  border-radius: 5px;
  width: 100%;
  grid-area: contactForm;
  margin-top: 2rem;
}
.form__container input[type=text],
.form__container select,
.form__container textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid rgb(224, 133, 115);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: transparent;
  font-family: "Fira Code", monospace;
}
.form__container input[type=submit] {
  background-color: #0f1014;
  font-family: "Fira Code", monospace;
  color: #fdd4c5;
  padding: 12px 20px;
  border: solid 1px rgb(224, 133, 115);
  cursor: pointer;
  margin-bottom: 2rem;
}
.form__container input[type=submit]:hover {
  background-color: transparent;
  color: #fdd4c5;
  font-family: "Fira Code", monospace;
}

/* Contact Form */
/*INDEX*/
.body {
  background: linear-gradient(90deg, #a1584a 0%, rgb(224, 133, 115) 35%, #fdd4c5 100%);
  background-size: 400% 400%;
  -webkit-animation: gradient 6s ease infinite;
          animation: gradient 6s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ccc;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.pers-card {
  position: relative;
  width: 450px;
  height: 250px;
  background-color: #fff;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.pers-card .lines {
  position: absolute;
  inset: 0;
  background: #000;
  overflow: hidden;
}
.pers-card .pers-img {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: 350px;
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
}
.pers-card .pers-img img {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}
.pers-card .pers-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.pers-card .pers-content .pers-details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(500px);
}
.pers-card .pers-content .pers-details h2 {
  font-size: 2em;
  font-weight: 600;
  color: #fdd4c5;
  line-height: 1.2em;
}
.pers-card .pers-content .pers-details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  color: #fff;
}
.pers-card .pers-content .pers-details .pers-data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.pers-card .pers-content .pers-details .pers-data h3 {
  font-size: 1em;
  color: #fdd4c5;
  line-height: 1.2em;
  font-weight: 600;
}
.pers-card .pers-content .pers-details .pers-data h3 span {
  font-size: 0.85em;
  font-weight: 400;
  color: #fff;
}
.pers-card .pers-content .pers-details .pers-actionBtn button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  background: #fdd4c5;
  color: #222;
  cursor: pointer;
  opacity: 0.7;
}

.pers-card:hover {
  height: 450px;
}

.pers-card .pers-lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 120px;
  background: linear-gradient(transparent, #fdd4c5, #fdd4c5, #fdd4c5, transparent);
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.pers-card .pers-lines::after {
  content: "";
  position: absolute;
  inset: 3px;
  background-color: #292929;
}

.pers-card:hover .pers-img {
  width: 250px;
  height: 250px;
}

.pers-card .pers-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(transparent, rgb(224, 133, 115), rgb(224, 133, 115), rgb(224, 133, 115), transparent);
  -webkit-animation: animate2 6s linear infinite;
          animation: animate2 6s linear infinite;
}

@-webkit-keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.pers-card .pers-img::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;
}

.pers-card:hover .pers-content .pers-details {
  transform: translateY(0px);
}

.pers-card .pers-content .pers-details .pers-actionBtn button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  background: #fdd4c5;
  color: #222;
  cursor: pointer;
  opacity: 0.7;
}

.pers-card .pers-content .pers-details .pers-actionBtn button:nth-child(2) {
  background-color: #fff;
}

.pers-card .pers-content .pers-content .pers-details .pers-actionBtn button:hover {
  opacity: 1;
}

.start_button {
  color: black;
  font-weight: bolder;
  font-size: 20px;
}

.home__title {
  font-size: 2.188rem;
  font-weight: bold;
  margin-bottom: 4rem;
}
.home__description {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 4rem;
  translate: 0 -350px;
}
.home__presentation-btn {
  translate: 0 -300px;
}
.home__about--title {
  margin-top: 7rem;
  margin-bottom: 2rem;
}
.home__skills--title {
  margin-bottom: 2rem;
}
.home__skills--subtitle, .home .skillset {
  padding: 1rem;
}
.home .projects__subtitle {
  margin-top: 4rem;
}
.home__contact-subtitle {
  margin-top: 12rem;
  margin-bottom: 2rem;
}
.home .contact__box--img {
  width: 2rem;
  height: 2rem;
  translate: 0 1.5rem;
  margin-bottom: 4rem;
}

.about__container .about__title {
  grid-area: aboutTitle;
  font-size: 2.2rem;
}
.about__container .about__photo {
  grid-area: aboutImg;
  width: 35.5rem;
  height: 35.5rem;
  border-radius: 50%;
  box-shadow: 0 0 0.625rem 0 rgb(224, 133, 115) inset, 0 0 1.25rem 0.125rem rgb(224, 133, 115);
  border: solid 0.188rem rgb(224, 133, 115);
}
.about__container .about__subtitle {
  grid-area: aboutSubtitle;
  font-size: 1.8rem;
}
.about__container .about__description {
  grid-area: aboutDescrip;
}
.about__container .about__skills--container .about__skills--subtitle {
  grid-area: skillsTitle;
}
.about__container .about__skills--container .about__skills--descriptions {
  grid-area: skillsDescrip;
}
.about__container .about__skills--container .skills__technical--container .skills__technical--title {
  grid-area: techTitle;
  font-size: 28px;
  margin-top: 6rem;
}
.about__container .about__skills--container .skills__technical--container .skills__technical--descrip {
  grid-area: techDescrip;
}
.about__container .about__skills--container .skills__technical--container .about__skills--languages {
  grid-area: techLang;
}
.about__container .about__skills--container .skills__technical--container .about__skills--frameworks {
  grid-area: techFrameworks;
}
.about__container .about__skills--container .skills__technical--container .about__skills--tools {
  grid-area: techTools;
}
.about__container .about__skills--container .skills__technical--container .about__skills--others {
  grid-area: techOthers;
}
.about__container .about__skills--container .skills__interpersonal--container .skills__interpersonal--subtitle {
  grid-area: personalTitle;
  margin-top: 3rem;
  font-size: 28px;
  margin-bottom: 0.5rem;
}
.about__container .about__skills--container .skills__interpersonal--container .skills__interpersonal--description {
  grid-area: personalDescrip;
  margin-bottom: 3rem;
}
.about__container .skills__subtitle {
  font-size: 24px;
  margin-bottom: 0.5rem;
}
.about__container .skills__skillset {
  font-size: 20px;
}

.exp__box--subtitle {
  margin-top: 5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.exp__box--description {
  margin: 1rem;
}
.exp__container .exp__title {
  grid-area: expTitle;
}
.exp__container .exp__subtitle {
  grid-area: expSubtitle;
}
.exp__container .exp__descrip {
  grid-area: expDescrip;
}
.exp__container__box .junior {
  grid-area: junior;
}
.exp__container__box .hidden {
  grid-area: hiddenS;
}
.exp__container__box .redlab {
  grid-area: redlab;
}

.projects__title {
  font-size: 36px;
}
.projects .titleDescrip {
  font-size: 28px;
}
.projects__subtitles {
  font-size: 32px;
  margin-bottom: 2rem;
  margin-top: 6rem;
}
.projects__text {
  margin-bottom: 4rem;
}

.contact .contact__title {
  grid-area: contactTitle;
}
.contact .contact__descrip {
  grid-area: contactDescrip;
  margin-bottom: 4rem;
}
.contact .contact__descrip2 {
  grid-area: contactDescrip2;
}
.contact .contact__subtitle {
  grid-area: contactSubtitle;
  margin-bottom: 2rem;
}
.contact .contact__subtitle2 {
  grid-area: contactSubtitle2;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.contact .contact__linkedin {
  text-decoration: underline;
  color: rgb(224, 133, 115);
}
.contact .contact__icons--box {
  grid-area: contactBox;
  display: flex;
}

.comingsoon__title {
  grid-area: comingTitle;
}
.comingsoon__descrip {
  grid-area: comingDescrip;
}
.comingsoon__btn {
  grid-area: comingBtn;
}

/*INICIO MEDIA QUERIES*/
@media screen and (max-width: 2560px) {
  .pers-card:hover .pers-content .pers-details {
    transform: translateY(30px);
  }
}
/*-------------------*/
@media screen and (max-width: 1400px) {
  .home .home__image {
    margin-left: 5rem;
    translate: 650px -150px;
  }
  .home .home__description {
    translate: 0 -400px;
  }
  .home .home__presentation-btn {
    translate: 0 -300px;
  }
  .pers-card:hover .pers-content .pers-details {
    transform: translateY(35px);
  }
}
/*-------------------*/
@media screen and (max-width: 1200px) {
  .home .subtitle {
    margin-top: 5rem;
    translate: none;
  }
  .home .home__image {
    width: 400px;
    height: 400px;
    translate: 80px -50px;
  }
  .home .home__description {
    translate: 0 -150px;
  }
  .home .home__presentation-btn {
    translate: 0 -125px;
    margin-left: auto;
  }
  .home .home__skills--title {
    margin-top: 10rem;
    translate: none;
  }
  .home .home__contact--box {
    visibility: hidden;
  }
  .contact .form__container {
    width: 80%;
  }
  .pers-card:hover .pers-content .pers-details {
    transform: translateY(35px);
  }
}
/*-------------------*/
@media screen and (max-width: 1198px) {
  .home .subtitle {
    margin-top: 10rem;
  }
  .home .home__image {
    width: 300px;
    height: 300px;
    translate: 700px 75px;
  }
  .home .home__description {
    translate: 0 -300px;
  }
  .home .home__presentation-btn {
    translate: 0 -250px;
    margin-left: auto;
  }
  .home .home__readme--btn {
    justify-content: center;
  }
  .home .home__contact--box {
    visibility: hidden;
  }
}
/*-------------------*/
@media screen and (max-width: 998px) {
  * {
    transition: none;
  }
  .wow,
.animate__animated,
.animate__backInDown,
.animate__backInLeft,
.animate__backInRight,
.animate__backInUp {
    transition: none;
  }
  .logo {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .home .subtitle {
    margin-top: 10rem;
  }
  .home .home__image {
    visibility: hidden;
    width: 0;
    height: 0;
    translate: none;
    box-shadow: none;
    border: none;
  }
  .home .home__description {
    translate: 0 -50px;
  }
  .home .home__presentation-btn {
    translate: 0 -50px;
    margin-left: auto;
  }
  .home .home__readme--btn {
    justify-content: center;
  }
  .home .home__contact--box {
    visibility: hidden;
  }
  .about .about__container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "aboutTitle ." "aboutSubtitle ." "aboutDescrip ." "aboutSkills aboutSkills";
    gap: auto;
  }
  .about .about__container .about__skills--container {
    grid-area: aboutSkills;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "skillsTitle" "skillsDescrip" "skillsTech" "skillsPersonal";
    gap: auto;
  }
  .contact .form__container {
    width: 80%;
  }
  .contact__img {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .contact__subtitle {
    margin-top: 0;
  }
}
/*-------------------*/
@media screen and (max-width: 768px) {
  * {
    transition: none;
  }
  .wow,
.animate__animated,
.animate__backInDown,
.animate__backInLeft,
.animate__backInRight,
.animate__backInUp {
    transition: none;
  }
  .logo {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .home .subtitle {
    margin-top: 10rem;
  }
  .home .home__description {
    translate: none;
  }
  .home .home__image {
    visibility: hidden;
    width: 0;
    height: 0;
    translate: none;
    box-shadow: none;
    border: none;
  }
  .home .home__presentation-btn {
    justify-content: center;
    translate: none;
  }
  .home .home__contact--box {
    visibility: hidden;
  }
  .exp__container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "expTitle" "expSubtitle" "expDescrip" "experiences";
    gap: 2rem;
  }
  .exp__img {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .contact .form__container {
    width: 100%;
  }
  .contact__img {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .contact__subtitle {
    margin-top: 0;
  }
}
/*-------------------*/
@media screen and (max-width: 576px) {
  * {
    transition: none;
  }
  .wow,
.animate__animated,
.animate__backInDown,
.animate__backInLeft,
.animate__backInRight,
.animate__backInUp {
    transition: none;
  }
  .home .subtitle {
    margin-top: 10rem;
  }
  .home .home__description {
    translate: none;
  }
  .home .home__presentation-btn {
    justify-content: flex-start;
    translate: none;
  }
  .home .home__image {
    visibility: hidden;
    width: 0px;
    height: 0px;
    translate: none;
    box-shadow: none;
    border: none;
  }
  .home .home__contact--box {
    visibility: hidden;
  }
  .about .skills__skillset {
    font-size: 15px;
  }
  .exp__container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "expTitle" "expSubtitle" "expDescrip" "experiences";
    gap: 2rem;
  }
  .exp__img {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .contact .form__container {
    width: 100%;
  }
  .contact__img {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .contact__subtitle {
    margin-top: 0;
  }
}
@media screen and (max-width: 453px) {
  .pers-card:hover .pers-content .pers-details {
    transform: translateY(0px);
  }
  .pers-card .pers-content .pers-details h2 {
    font-size: 24px;
    font-weight: 600;
    color: #fdd4c5;
    line-height: 1.2em;
  }
  .pers-card .pers-content .pers-details h2 span {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
  }
}
@media screen and (max-width: 393px) {
  .pers-card:hover .pers-content .pers-details {
    transform: translateY(30px);
  }
  .pers-card .pers-content .pers-details h2 {
    font-size: 24px;
    font-weight: 600;
    color: #fdd4c5;
    line-height: 1.2em;
  }
  .pers-card .pers-content .pers-details h2 span {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
  }
}
/*-------------------*/
@media screen and (max-width: 320px) {
  * {
    transition: none;
  }
  body {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .logo {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .wow,
.animate__animated,
.animate__backInDown,
.animate__backInLeft,
.animate__backInRight,
.animate__backInUp {
    transition: none;
  }
  .home .subtitle {
    margin-top: 10rem;
    font-size: 20px;
  }
  .home .home__description {
    translate: none;
    font-size: 16px;
  }
  .home .home__image {
    visibility: hidden;
    width: 0;
    height: 0;
    translate: none;
    box-shadow: none;
    border: none;
  }
  .home .home__presentation-btn {
    justify-content: flex-start;
    translate: none;
  }
  .home .home__contact--box {
    visibility: hidden;
  }
  .about__subtitle {
    margin-top: 5rem;
  }
  .about .about__container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "aboutTitle ." "aboutSubtitle ." "aboutDescrip ." "aboutSkills aboutSkills";
    gap: auto;
  }
  .about .about__container .about__skills--container {
    grid-area: aboutSkills;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "skillsTitle" "skillsDescrip" "skillsTech" "skillsPersonal";
    gap: auto;
  }
  .exp__container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "expTitle" "expSubtitle" "expDescrip" "experiences";
    gap: 2rem;
  }
  .exp__container .description {
    font-size: 16px;
  }
  .exp__img {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .contact .form__container {
    width: 100%;
  }
  .contact__img {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .contact__subtitle {
    margin-top: 0;
  }
}/*# sourceMappingURL=main.css.map */