/*COMUNES EN TODO EL DOC*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0f1014;
    color: #fdd4c5;
    width: 80%;
    margin: auto;
    font-family: "Fira Code", monospace;
}

span{
    color: #e08573;
}

h1, h2, h3, .description{
    width: 55%;
}

a{
    text-decoration: none;
    color: #fdd4c5;
    font-family: "Fira Code", monospace;
}

li{
    list-style: none;
}

button {
    font-size: 24px;
    width: fit-content;
    height: 70px;
    padding: 10px;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid #e08573;
    border-radius: 5px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #e08573;
}

button:hover {
    box-shadow: 0 0 0.625rem 0 #e08573 inset, 0 0 1.25rem 0.125rem #e08573;
    border: 0.188rem solid #e08573;
}

.subtitle{
    font-size: 2.188rem;
    font-weight: bolder;
}

.description{
    font-size: 1.25rem;
    margin-bottom: 0.681rem;
}

/*---------------------------------------------------------------*/
/*HEADER*/

header{
    color: #fdd4c5;
    border-bottom: 1px solid #e08573;
    margin-bottom: 5rem;
}

.navbar-nav li a{
    color: #fdd4c5;
}

.navbar-nav li a:hover{
    color: #e08573;
    font-weight: bold;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #e08573 ;
}
/*---------------------------------------------------------------------------*/
/*FOOTER*/
.footer-distributed {
    background-color: #0f1014;
    width: 100%;
    text-align: left;
    padding: 45px 50px;
    border-top: 1px solid #fdd4c5;
}

.footer-distributed .footer-left p {
    color: #fdd4c5;
    font-size: 14px;
    margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #fdd4c5;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/*-----------------------------*/
/*CSS PARA PRESENTACION*/

.home__presentation--container{
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 40% 25% auto;
    grid-template-areas:
            "title img"
            "subtitle img"
            "btn img";
}

.home__image{
    grid-area: img;
    width:37.5rem ;
    height: 37.5rem;
    border-radius: 50%;
    box-shadow: 0 0 0.625rem 0 #e08573 inset, 0 0 1.25rem 0.125rem #e08573;
    border: solid 0.188rem #e08573;
}

.home__title{
    grid-area: title;
    font-size: 2.188rem;
    font-weight: bold;
    height: fit-content;
}
.home__description{
    grid-area: subtitle;
    font-size: 1.25rem;
    font-weight: bold;
}
.home__presentation-btn{
    grid-area: btn;
}

/*--------------------------------------------------------------------------*/

/*HOME-ABOUT*/
.home__about--container{
    display: grid;
    grid-template-columns: 90% ;
    grid-template-rows: 1fr 2fr 20%;
    grid-template-areas:
            "title"
            "descrip"
            "btn";
}

.home__about--title{
    grid-area: title;
    margin-top: 12rem;
    margin-bottom: 2rem;
}

.home__about--descriptions{
    grid-area: descrip;
}

.home__about--btn{
    grid-area: btn;
}

.btn_contact_me{
    width: 15rem;
    height: 5rem;
    margin-right: 1.5rem;
}

.btn_resume{
    width: 15rem;
    height: 5rem;
}

/*--------------------------------------------------------------------------------*/
/*GRID PARA SKILLS*/
.home__skills--container{
    display: grid;
    grid-template-areas:
            "title title"
            "description img"
            ". img"
            "languages img"
            "frameworks img"
            "tools img"
            "others img";
    grid-template-columns: 70% auto;
    grid-template-rows: repeat(7, auto);
}

.home__skills--title{
    grid-area: title;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.home__skills--description{
    grid-area: description;
}

.skills_img{
    grid-area: img;
}

.languages{
    grid-area: languages
}

.frameworks{
    grid-area: frameworks
}

.tools{
    grid-area: tools;
}

.others{
    grid-area: others
}


.home__skills--subtitle{
    padding: 1rem;
}

.skillset{
    padding: 1rem;
}

.skill:hover{
    box-shadow: 0 0 0.625rem 0 #e08573 inset, 0 0 1.25rem 0.125rem #e08573;
    border: solid 0.188rem #e08573;
    width: fit-content;
}


/*---------------------------------*/
/*PROJECTS*/

.card-img-top{
    width: content-box;
    height: content-box;
}

.card{
    width: fit-content;
    border: 1px solid #e08573;
}

.card-body{
    background-color: #0f1014 ;
}

.btn, .btn-primary{
    background-color: #0f1014;
    border: 1px solid #e08573 ;
    justify-content: center;
}

.btn:hover {
    box-shadow: 0 0 0.625rem 0 #e08573 inset, 0 0 1.25rem 0.125rem #e08573;
    border: 0.188rem solid #e08573;
    background-color: #0f1014;
}

.btn-primary:hover {
    box-shadow: 0 0 0.625rem 0 #e08573 inset, 0 0 1.25rem 0.125rem #e08573;
    border: 0.188rem solid #e08573;
    background-color: #0f1014;
}


/*----------------------------------*/
/*CONTACT US*/
.home__contact--container{
    display: grid;
    grid-template-areas:
            "title box"
            "subtitle box"
            ". box";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-top: 12rem;
    margin-bottom: 5rem;
}

.home__contact-subtitle{
    grid-area: title;
    margin-top: 12rem;
    margin-bottom: 2rem;
}

.home__contact--description{
    grid-area: subtitle;
}

 .home__contact--box{
     grid-area: box;
     display: grid;
     grid-template-areas:
             "message"
             "logo"
             "logo2";
     grid-template-columns: auto;
     grid-template-rows: auto auto auto;
     gap: 0.7rem;
     box-shadow: 0 0 0.625rem 0 #e08573 inset, 0 0 1.25rem 0.125rem #e08573;
     border: solid 0.188rem #e08573;
     padding: 1.5rem;
     margin-bottom: 2rem;
 }

 .contact__box--title{
     grid-area: message;
 }

 .contact__box--linkedin{
     grid-area: logo;
 }

 .contact__box--email{
     grid-area: logo2;
 }

 .contact__box--img{
     width: 2rem;
     height: 2rem;
     translate: 0 0.5rem;
 }
/*----------------------------*/
/*ABOUT PAGE*/
.about__container{
    display: grid;
    grid-template-areas:
            "aboutTitle aboutImg"
            "aboutSubtitle aboutImg"
            "aboutDescrip aboutImg"
            "aboutSkills aboutSkills";
    grid-template-columns: 70% 30%;
    grid-template-rows: 7rem 7rem auto auto ;
}
.about__title{
    grid-area: aboutTitle;
    font-size: 2.2rem;
}

.about__photo{
    grid-area: aboutImg;
    width: 35.5rem ;
    height: 35.5rem;
    border-radius: 50%;
    box-shadow: 0 0 0.625rem 0 #e08573 inset, 0 0 1.25rem 0.125rem #e08573;
    border: solid 0.188rem #e08573;
}


.about__subtitle{
    grid-area: aboutSubtitle;
    font-size: 1.8rem;
}

.about__description{
    grid-area: aboutDescrip;
}

.about__skills--container{
    grid-area: aboutSkills;
    display: grid;
    grid-template-areas:
            "skillsTitle"
            "skillsDescrip"
            "skillsTech"
            "skillsPersonal";
    grid-template-columns: 70%;
}

.about__skills--subtitle{
    grid-area: skillsTitle;
}

.about__skills--descriptions{
    grid-area: skillsDescrip;
}

.skills__technical--container{
    grid-area: skillsTech;
    display: grid;
    grid-template-areas:
            "techTitle"
            "techDescrip"
            "techLang"
            "techFrameworks"
            "techTools"
            "techOthers";
    gap: 1rem;
}

.skills__technical--title{
    grid-area: techTitle;
    font-size: 28px;
    margin-top: 6rem;
}

.skills__technical--descrip{
    grid-area: techDescrip;
}

.about__skills--languages{
    grid-area: techLang;
}

.skills__subtitle{
    font-size: 24px;
    margin-bottom: 0.5rem;
}

.skills__skillset{
    font-size: 20px;
}

.about__skills--frameworks{
    grid-area: techFrameworks;
}

.about__skills--tools{
    grid-area: techTools;
}

.about__skills--others{
    grid-area: techOthers;
}



.skills__interpersonal--container{
    grid-area: skillsPersonal;
    display: grid;
    grid-template-areas:
            "personalTitle"
            "personalDescrip"
}

.skills__interpersonal--subtitle{
    grid-area: personalTitle;
    margin-top: 3rem;
    font-size: 28px;
    margin-bottom: 0.5rem;
}

.skills__interpersonal--description{
    grid-area: personalDescrip;
    margin-bottom: 3rem;
}

/*-----------------*/

/*PROJECTS*/

.projects__titles{
    display: grid;
    grid-template-areas:
            "projectsTitle"
            "projectsSubtitle"
            "projectsDescrip";
    gap: 2rem;
}

.projects__title{
    grid-area: projectsTitle;
    font-size: 36px;
}

.titleDescrip{
    grid-area: projectsSubtitle;
    font-size: 28px;
}

.projects__descrip{
    grid-area: projectsDescrip;
}

.projects__subtitles{
    font-size: 32px;
    margin-bottom: 2rem;
    margin-top: 6rem;
}

.projects__text{
    margin-bottom: 4rem;
}
/*-------------------------------------------------------------------*/
/*EXPERIENCE*/
.experience__container{
    display: grid;
    grid-template-areas:
            "expTitle ."
            "expSubtitle expImg"
            "expDescrip expImg"
            "experiences expImg";
    gap: 2rem;
}

.exp__title{
    grid-area: expTitle;
}

.exp__subtitle{
    grid-area: expSubtitle;
}

.exp__descrip{
    grid-area: expDescrip;
}

.exp__box{
    grid-area: experiences;
    display: grid;
    grid-template-areas:
            "junior"
            "hiddenS"
            "redlab";
    gap: 4rem;
}

.junior{
    grid-area: junior;
}

.hidden{
    grid-area: hiddenS;
}

.redlab{
    grid-area: redlab;
}
.exp__box--subtitle{
    margin: 1rem;
}
.exp__box--description{
    margin: 1rem;
}

.experience__img{
    grid-area: expImg;
    width: 35.5rem;
    height: 35.5rem;
}
/*---------------------------------*/
/*CONTACT*/
/* FORM */

.contact__container{
    display: grid;
    grid-template-areas:
            "contactTitle contactImg"
            "contactDescrip contactImg"
            "contactSubtitle contactImg"
            "contactBox contactImg"
            "contactSubtitle2 contactImg"
            "contactDescrip2 contactImg"
            "form contactImg";
    gap: 2rem;
}

.contact__title{
    grid-area: contactTitle;
}

.contact__descrip{
    grid-area: contactDescrip;
    margin-bottom: 4rem;
}

.contact__descrip2{
    grid-area: contactDescrip2;
}

.contact__subtitle{
    grid-area: contactSubtitle;
    margin-bottom: 2rem;
}

.contact__subtitle2{
    grid-area: contactSubtitle2;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.contact__icons--box{
    grid-area: contactBox;
    display: flex;
}


.form__container {
    border-radius: 5px;
    width: 40%;
    grid-area: contactForm;
    margin-top: 2rem;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #e08573;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #0f1014 ;
    font-family: "Fira Code", monospace;
}

input[type="submit"] {
    background-color: #0f1014;
    font-family: "Fira Code", monospace;
    color: #fdd4c5;
    padding: 12px 20px;
    border: solid 1px #e08573;
    cursor: pointer;
    margin-bottom: 2rem;
}

input[type="submit"]:hover {
    background-color: #e08573;
    color: #fdd4c5;
    font-family: "Fira Code", monospace;
}

.contact__icon{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    translate: 5px -5px;
}

.contact__img{
    width: 50rem;
    height: 50rem;
    grid-area: contactImg;
}

/*COMING SOON*/
.comingsoon__container{
    display: grid;
    grid-template-areas:
            "comingTitle"
            "comingDescrip"
            "comingBtn"
            "comingImg";
    gap: 2rem
}

.comingsoon__title{
    grid-area: comingTitle;
}

.comingsoon__descrip{
    grid-area: comingDescrip;
}

.comingsoon__btn{
    grid-area: comingBtn;
}

.comingsoon__img{
    grid-area: comingImg;
    width: 50rem;
    height: 50rem;
    margin: auto;
}
/*-----------------------------------------------------*/
/*INICIO MEDIA QUERIES*/

@media screen and (max-width: 320px) {
    /*COMUNES EN TODO EL DOC*/

}











































