.exp {
    &__box--subtitle {
        margin-top: 5rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    &__box--description {
        margin: 1rem;
    }

    &__container {
        .exp__title {
            grid-area: expTitle;
        }

        .exp__subtitle {
            grid-area: expSubtitle;
        }

        .exp__descrip {
            grid-area: expDescrip;
        }

        &__box {

            .junior {
                grid-area: junior;
            }

            .hidden {
                grid-area: hiddenS;
            }

            .redlab {
                grid-area: redlab;
            }
        }
    }
}