.projects {
    &__title {
        font-size: 36px;
    }

    .titleDescrip {
        font-size: 28px;
    }

    &__subtitles {
        font-size: 32px;
        margin-bottom: 2rem;
        margin-top: 6rem;
    }

    &__text {
        margin-bottom: 4rem;
    }
}