$primaryColor: map-get($colors, main);
$secondaryColor: map-get($colors, secondary);
$backgroundColor: map-get($colors, background_items);
$backgroundGradient: linear-gradient(90deg, rgba(15, 16, 20, 1) 0%, rgba(29, 31, 37, 1) 35%, rgba(50, 53, 64, 1) 100%);