.form__container {
    border-radius: 5px;
    width: 40%;
    grid-area: contactForm;
    margin-top: 2rem;
}

/* Contact Form */
input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid $secondaryColor;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: $backgroundColor ;
    font-family: "Fira Code", monospace;
}

input[type="submit"] {
    background-color: $backgroundColor;
    font-family: "Fira Code", monospace;
    color: $primaryColor;
    padding: 12px 20px;
    border: solid 1px $secondaryColor;
    cursor: pointer;
    margin-bottom: 2rem;
}

input[type="submit"]:hover {
    background-color: $secondaryColor;
    color: $primaryColor;
    font-family: "Fira Code", monospace;
}