.about__container {
    display: grid;
    grid-template-areas:
        "aboutTitle aboutImg"
        "aboutSubtitle aboutImg"
        "aboutDescrip aboutImg"
        "aboutSkills aboutSkills";
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto auto;

    .about__skills--container {
        grid-area: aboutSkills;
        display: grid;
        grid-template-areas:
            "skillsTitle"
            "skillsDescrip"
            "skillsTech"
            "skillsPersonal";
        grid-template-columns: 70%;

        .skills__technical--container {
            grid-area: skillsTech;
            display: grid;
            grid-template-areas:
                "techTitle"
                "techDescrip"
                "techLang"
                "techFrameworks"
                "techTools"
                "techOthers";
            gap: 1rem;
        }

        .skills__interpersonal--container {
            grid-area: skillsPersonal;
            display: grid;
            grid-template-areas:
                "personalTitle"
                "personalDescrip"
        }
    }
}

.exp {
    &__container {
        display: grid;
        grid-template-areas:
            "expTitle ."
            "expSubtitle expImg"
            "expDescrip expImg"
            "experiences expImg";
        gap: 2rem;

        .exp__box {
            grid-area: experiences;
            display: grid;
            grid-template-areas:
                "junior"
                "hiddenS"
                "redlab";
            gap: 4rem;
        }
    }
}

.contact {
    &__container {
        display: grid;
        grid-template-areas:
            "contactTitle contactImg"
            "contactDescrip contactImg"
            "contactSubtitle contactImg"
            "contactBox contactImg"
            "contactSubtitle2 contactImg"
            "contactDescrip2 contactImg"
            "form contactImg";
        gap: 2rem;
    }
}

.comingsoon{
    &__container{
        display: grid;
        grid-template-areas:
                "comingTitle"
                "comingDescrip"
                "comingBtn"
                "comingImg";
        gap: 2rem
    }
}