.about__container {
    @include grid_creator(70% 30%,
        repeat(4, auto),
        "aboutTitle ."
        "aboutSubtitle ."
        "aboutDescrip ."
        "aboutSkills aboutSkills",
        auto);

    .about__skills--container {
        grid-area: aboutSkills;
        @include grid_creator(70%,
            auto,
            "skillsTitle"
            "skillsDescrip"
            "skillsTech"
            "skillsPersonal",
            auto);



        .skills__technical--container {
            grid-area: skillsTech;
            @include grid_creator(auto,
                auto,
                "techTitle"
                "techDescrip"
                "techLang"
                "techFrameworks"
                "techTools"
                "techOthers",
                1rem)
        }

        .skills__interpersonal--container {
            grid-area: skillsPersonal;
            @include grid_creator(auto,
                auto,
                "personalTitle"
                "personalDescrip",
                auto)
        }
    }
}

.exp {
    &__container {
        @include grid_creator(auto,
            auto,
            "expTitle ."
            "expSubtitle expImg"
            "expDescrip expImg"
            "experiences experiences",
            2rem);


        .exp__box {
            grid-area: experiences;
            @include grid_creator(auto,
                auto,
                "junior"
                "hiddenS"
                "redlab",
                4rem)
        }
    }
}

.contact {
    &__container {
        @include grid_creator(auto,
            auto,
            "contactTitle contactImg"
            "contactDescrip contactImg"
            "contactSubtitle contactImg"
            "contactBox contactImg"
            "contactSubtitle2 contactImg"
            "contactDescrip2 contactImg"
            "form contactImg",
            2rem)
    }
}

.comingsoon {
    &__container {
        @include grid_creator(auto,
            auto,
            "comingTitle"
            "comingDescrip"
            "comingBtn"
            "comingImg",
            2rem)
    }
}