.card-img-top {
    width: auto;
    height: auto;
    object-fit: cover;
}

.card {
    width: fit-content;
    border: 2px solid $secondaryColor;
    box-shadow: 0 0 0.625rem 0 $secondaryColor inset, 0 0 1.25rem 0.125rem $secondaryColor;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-body {
    background-color: $backgroundColor;
}

.btn,
.btn-primary {
    background-color: $backgroundColor;
    border: 1px solid $secondaryColor ;
    justify-content: center;
}

.btn:hover {
    box-shadow: 0 0 0.625rem 0 $secondaryColor inset, 0 0 1.25rem 0.125rem $secondaryColor;
    border: 0.188rem solid $secondaryColor;
    background-color: $backgroundColor;
}

.btn-primary:hover {
    box-shadow: 0 0 0.625rem 0 $secondaryColor inset, 0 0 1.25rem 0.125rem $secondaryColor;
    border: 0.188rem solid $secondaryColor;
    background-color: $backgroundColor;
}