.home {
    &__image {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        box-shadow: 0 0 0.625rem 0 $secondaryColor inset, 0 0 1.25rem 0.125rem $secondaryColor;
        border: solid 0.188rem $secondaryColor;
        margin-left: 2rem;
        translate: 100px 0;
    }

}

.exp {
    &__img {
        grid-area: expImg;
        width: 30vw;
        height: auto;
    }
}

.contact {
    &__icon {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        translate: 5px -5px;
    }

    &__img {
        width: 30vw;
        height: auto;
        grid-area: contactImg;
    }
}

.comingsoon {
    &__img {
        grid-area: comingImg;
        width: 30vw;
        height: auto;
        margin: auto;
    }
}