/*INICIO MEDIA QUERIES*/
/*-------------------*/
@media screen and (max-width: 1400px) {
    .home {
        .home__image {
            margin-left: 5rem;
            translate: 650px -150px;
        }

        .home__description {
            translate: 0 -400px;
        }

        .home__presentation-btn {
            translate: 0 -300px;
        }
    }
}

/*-------------------*/
@media screen and (max-width: 1200px) {
    .home {
        .subtitle {
            margin-top: 5rem;
            translate: none;
        }

        .home__image {
            width: 400px;
            height: 400px;
            translate: 80px -50px;
        }

        .home__description {
            translate: 0 -150px;
        }

        .home__presentation-btn {
            translate: 0 -125px;
            margin-left: auto;
        }


        .home__skills--title {
            margin-top: 10rem;
            translate: none;
        }

        .home__contact--box {
            visibility: hidden;
        }
    }

    .contact {
        .form__container {
            width: 80%;
        }
    }
}

/*-------------------*/
@media screen and (max-width: 1198px) {
    .home {
        .subtitle {
            margin-top: 10rem;
        }

        .home__image {
            width: 300px;
            height: 300px;
            translate: 700px 75px;
        }

        .home__description {
            translate: 0 -300px;
        }

        .home__presentation-btn {
            translate: 0 -250px;
            margin-left: auto;
        }

        .home__readme--btn {
            justify-content: center;
        }


        .home__contact--box {
            visibility: hidden;
        }
    }
}

/*-------------------*/
@media screen and (max-width: 998px) {
    * {
        transition: none;
    }

    .wow,
    .animate__animated,
    .animate__backInDown,
    .animate__backInLeft,
    .animate__backInRight,
    .animate__backInUp {
        transition: none
    }

    .logo {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .home {
        .subtitle {
            margin-top: 10rem;
        }

        .home__image {
            visibility: hidden;
            width: 0;
            height: 0;
            translate: none;
            box-shadow: none;
            border: none;
        }

        .home__description {
            translate: 0 -50px;
        }

        .home__presentation-btn {
            translate: 0 -50px;
            margin-left: auto;

        }

        .home__readme--btn {
            justify-content: center;
        }

        .home__contact--box {
            visibility: hidden;
        }
    }

    .about {
        .about__container {
            @include grid_creator(100%,
                repeat(4, auto),
                "aboutTitle ."
                "aboutSubtitle ."
                "aboutDescrip ."
                "aboutSkills aboutSkills",
                auto);

            .about__skills--container {
                grid-area: aboutSkills;
                @include grid_creator(100%,
                    auto,
                    "skillsTitle"
                    "skillsDescrip"
                    "skillsTech"
                    "skillsPersonal",
                    auto);
            }
        }
    }

    .contact {

        .form__container {
            width: 80%;
        }

        &__img {
            width: 0;
            height: 0;
            visibility: hidden;
        }

        &__subtitle {
            margin-top: 0;
        }
    }
}

/*-------------------*/
@media screen and (max-width: 768px) {
    * {
        transition: none;
    }

    .wow,
    .animate__animated,
    .animate__backInDown,
    .animate__backInLeft,
    .animate__backInRight,
    .animate__backInUp {
        transition: none
    }

    .logo {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .home {
        .subtitle {
            margin-top: 10rem;
        }

        .home__description {
            translate: none;
        }

        .home__image {
            visibility: hidden;
            width: 0;
            height: 0;
            translate: none;
            box-shadow: none;
            border: none;
        }

        .home__presentation-btn {
            justify-content: center;
            translate: none;
        }



        .home__contact--box {
            visibility: hidden;
        }
    }

    .exp {
        &__container {
            @include grid_creator(100%,
                auto,
                "expTitle"
                "expSubtitle"
                "expDescrip"
                "experiences",
                2rem);
        }

        &__img {
            visibility: hidden;
            width: 0;
            height: 0;
        }
    }

    .contact {
        .form__container {
            width: 100%;
        }

        &__img {
            width: 0;
            height: 0;
            visibility: hidden;
        }

        &__subtitle {
            margin-top: 0;
        }
    }
}

/*-------------------*/
@media screen and (max-width: 576px) {
    * {
        transition: none;
    }

    .wow,
    .animate__animated,
    .animate__backInDown,
    .animate__backInLeft,
    .animate__backInRight,
    .animate__backInUp {
        transition: none
    }

    .home {
        .subtitle {
            margin-top: 10rem;
        }

        .home__description {
            translate: none;
        }

        .home__presentation-btn {
            justify-content: flex-start;
            translate: none;
        }

        .home__image {
            visibility: hidden;
            width: 0px;
            height: 0px;
            translate: none;
            box-shadow: none;
            border: none;
        }

        .home__contact--box {
            visibility: hidden;
        }
    }

    .about {
        .skills__skillset {
            font-size: 15px;
        }
    }

    .exp {
        &__container {
            @include grid_creator(100%,
                auto,
                "expTitle"
                "expSubtitle"
                "expDescrip"
                "experiences",
                2rem);
        }

        &__img {
            visibility: hidden;
            width: 0;
            height: 0;
        }
    }

    .contact {
        .form__container {
            width: 100%;
        }

        &__img {
            width: 0;
            height: 0;
            visibility: hidden;
        }

        &__subtitle {
            margin-top: 0;
        }
    }
}

/*-------------------*/
@media screen and (max-width: 320px) {
    * {
        transition: none;
    }

    body {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    .logo {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .wow,
    .animate__animated,
    .animate__backInDown,
    .animate__backInLeft,
    .animate__backInRight,
    .animate__backInUp {
        transition: none
    }

    .home {
        .subtitle {
            margin-top: 10rem;
            font-size: 20px;
        }

        .home__description {
            translate: none;
            font-size: 16px;
        }

        .home__image {
            visibility: hidden;
            width: 0;
            height: 0;
            translate: none;
            box-shadow: none;
            border: none;
        }

        .home__presentation-btn {
            justify-content: flex-start;
            translate: none;
        }

        .home__contact--box {
            visibility: hidden;
        }
    }

    .about {
        &__subtitle {
            margin-top: 5rem
        }

        .about__container {
            @include grid_creator(100%,
                repeat(4, auto),
                "aboutTitle ."
                "aboutSubtitle ."
                "aboutDescrip ."
                "aboutSkills aboutSkills",
                auto);

            .about__skills--container {
                grid-area: aboutSkills;
                @include grid_creator(100%,
                    auto,
                    "skillsTitle"
                    "skillsDescrip"
                    "skillsTech"
                    "skillsPersonal",
                    auto);
            }
        }
    }

    .exp {
        &__container {
            @include grid_creator(100%,
                auto,
                "expTitle"
                "expSubtitle"
                "expDescrip"
                "experiences",
                2rem);

            .description {
                font-size: 16px;
            }
        }

        &__img {
            visibility: hidden;
            width: 0;
            height: 0;
        }
    }

    .contact {
        .form__container {
            width: 100%;
        }

        &__img {
            width: 0;
            height: 0;
            visibility: hidden;
        }

        &__subtitle {
            margin-top: 0;
        }
    }
}