/*COMUNES EN TODO EL DOC*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://drive.google.com/file/d/1QPv9G8wfSC8UmbI1s3R9IiIPLR1AwphB/view?usp=sharing);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: $primaryColor;
    width: 80%;
    margin: auto;
    font-family: "Fira Code", monospace;

    span {
        color: $secondaryColor;
    }

    a {
        text-decoration: none;
        color: $primaryColor;
        font-family: "Fira Code", monospace;
    }

    ul {
        li {
            list-style: none;
        }
    }

}


a:hover {
    font-weight: bolder;
    color: $secondaryColor
}